<h1>Cholee Chat</h1>

<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

<div class="chat" data-current-user-id="<%= current_user.id %>">
  <%= render partial: "message", collection: @messages %>
</div>

<br/>
<form id="chat_form">
  <input name="message_text" type="text" />
  <input type="submit" value="Send" />
</form>
